.titleWrapper {
    margin-bottom: 36px;
    text-align: center;

    >h1 {

        color: var(--black);
    }

    >h2 {

        color: var(--black);
    }

    >h3 {

        color: var(--black);
    }

    >h4 {

        color: var(--black);
    }
}