.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 25px;
    padding-inline: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 1px 2px 0px #D5D5D5;

    .headerNav {
        display: flex;
        gap: 30px;
        align-items: center;

        >a {
            color: blue;
            transition: var(--transition);

            &:hover {
                color: rgb(107, 107, 221);
            }
        }


        .header_active {
            color: green;
        }

        .active {
            color: green;
        }
    }
}
