.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    background-color: var(--background);

    span {
        font-size: 14px;
        color: #333;
    }

    button {
        background-color: var(--red);
        color: var(--white);
        border: none;
        border-radius: 3px;
        padding: 5px 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--red-hover);
        }
    }
}

.noComments {
    font-size: 16px;
    color: #666;
    text-align: center;
    margin-top: 20px;
}